
/****** bodyPageOfContact**********/
.Galleriadiv{
    display: flex;
    height: 100px;
    background:white;
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/****** iconsForContactPage**********/
.faicon, .faicontwo, .faiconthree, .faiconfour{
    font-size: 43px;
    padding-top: 50%;
    color:   #2c0641;
    padding-left: 2% ;
    align-items: center;
    
}
/****** iconsForContactPageHover**********/
.faicon:hover{
    border-bottom: 5px solid white;
    color: #833d0e63; 
}
.faicontwo:hover{
    border-bottom: 5px solid white;
    color: #609ef08a;
}
.faiconthree:hover{
    border-bottom: 5px solid white;
    color: #180b026b;
}
.faiconfour:hover{
    border-bottom: 5px solid white;
    color: #410a577e;
}